:root{
--text-primary: #212121;
--text-secondary: #757575;
--theme-color: #2196F3;
--primary-font: roboto,sans-serif;
--primary-white-color: #ffffff;
--icons-color: #AFB1B8;
--bezier-time:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body{
  font-family: var(--primary-font);
  color: var(--text-primary);
  background-color: var(--primary-white-color);
}

.conteiner{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;


}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

ul,ol{
  list-style: none;
  padding: 0;
}


/* Шапка страницы */


.header{
border-bottom: 1px solid #ECECEC;

}
.logo{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: var(--theme-color);
  text-decoration: none;
}

.logo-icon{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: #000000;
  text-decoration: none;
}

.logo-icon-color{
  margin-top: 0;
  margin-bottom: 20px;    
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: var(--primary-white-color);
  text-decoration: none;
}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

/* Навигация на другие страницы */


.nav{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-item:not(:last-child){
  margin-right: 50px;
}

.nav-pagination{
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-primary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
 
}
.nav-pagination:hover,
.nav-pagination:focus{
  color: var(--theme-color);
     
}
.activ{
  color: var(--theme-color);
  transition: color var(--bezier-time);
}
.activ::before{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--theme-color);
  border-radius: 2px;
  height: 4px;
  display: inline-block;
  width: 100%;
}

/* Ссылка на вебсайт,телефонный номер */


.nav-box{
  display: flex;
  align-items: center;
  margin-left: auto;

}

.nav-all{
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
}
.nav-all:hover,
.nav-all:focus{
  color: var(--theme-color);
}
 

.svg-list{
  fill: var(--text-secondary);
  margin-right: 10px;
  transition: fill var(--bezier-time);
}

.svg-list:hover,
.svg-list:focus{
  fill: var(--theme-color);
}
.nav-all:hover .svg-list,
.nav-all:focus .svg-list{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);
}
.nav-all-phone{
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
}

.nav-all-phone:hover,
.nav-all-phone:focus{
  color: var(--theme-color);   
}
.nav-all-phone:hover .svg-list,
.nav-all-phone:focus .svg-list{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);
}

/* Уникальный контент страницы */


.hero{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #C4C4C4;
  background-image: linear-gradient( rgba(47, 48, 58, 0.5),
   rgba(47, 48, 58, 0.3)), url(../images/hero.jpg);
  max-width: 1600px;
}

.hero-title{
  width: 696px;
  text-align: center;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button{
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background: var(--theme-color);
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
/* модальное окно */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--bezier-time);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hedden .modal{
 transform: translate(-50%, -50%) scale(1.1);
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%,-50%) scale(1);

  transition: transform  var(--bezier-time);
  
  background: var(--primary-white-color);
  box-shadow: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px
   rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
   display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Особенности */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.special-container{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.special-section{
  padding-top: 0;
}

.special-box{
  flex-wrap: wrap;
  width: 270px;
}

.box-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  width: 270px;
  background-color: #F5F4FA;
}

.special-box:not(:last-child){
  margin-right: 30px;}

.title-list{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.title-text{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}


/* Чем мы занимаемся */

.work-title{
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.work-container{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.work-box{
 position: relative;
}

.work-box:not(:last-child){
  margin-right: 30px;
  
}
.shedow-text{
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.shedow{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8); 
}

/* Наша команда */


.command-container{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.command-box{
 text-align: center;
 background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-box:not(:last-child){
  margin-right: 30px;}
.command{
  background: rgba(245, 244, 250, 1);
}
.command-title-list{

  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.command-title-text{
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.list-box{
  padding: 30px 32px;
}

.social-box{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-list{
  display: flex;
  justify-content: center;
  align-items: center;

}
.social-list:not(:last-child){
  margin-right: 10px;}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--bezier-time);
}
.svg-list-ico{
  fill: var(--icons-color);
  margin: 0;
}
.social:hover,
.social:focus{
  background-color: var(--theme-color);
  
}
.social:hover .svg-list-ico,
.social:focus .svg-list-ico{
  fill: var(--primary-white-color);
  transition: var(--bezier-time); 
}

/* постоянные клиенты */

.clients{
  display: flex;
  margin: 0;
}

.clients-box{
  width: 170px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.clients-box:not(:last-child){
  margin-right: 30px;}

.clients-list{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 16px 32px;
  list-style: none;
  transition: border var(--bezier-time);;
}
.clients-svg{
  fill: var(--icons-color);
  transition: fill var(--bezier-time);
}
.clients-list:hover,
.clients-list:focus{
  border: 1px solid var(--theme-color);
  
}
.clients-list:hover .clients-svg,
.clients-list:focus .clients-svg{
  fill: var(--theme-color);
  
}


/* футер */
.foot{
  display: flex;
  align-items: baseline;  
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}
.address{
 font-style: normal   
}

.address-all{
  display: block;
  margin-bottom: 9px;
  font-weight: normal;
  text-decoration: none;    
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);   
}
.address-all-phone{
  display: block;
  font-weight: normal;
  text-decoration: none;    
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
p.address-text{
  margin-top: 20px;
  margin-bottom: 9px;    
}
.address-text{    
  margin-top: 0px;
  margin-bottom: 9px;
  font-weight: normal;    
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);   
}
/* футер соц.сети */
.call{
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
  margin-top: 0;
  padding: 72px auto 100px 72px;
}


.call-title{

  font-family: Roboto;  
  font-weight:  bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 12px;

}
.call-content{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}


.call-icon{
  display: flex;
  justify-content: center;
  align-items: center;

}

.call-icon:not(:last-child){
margin-right: 10px;}

.call-list{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition: background-color var(--bezier-time);  
}
.call-svg{
  fill: var(--primary-white-color);
  margin: 0;

}
.call-list:hover,
.call-list:focus{
  background-color: 
rgba(33, 150, 243, 1);
}
/* Подписаться */
.subscription-box{
margin-left: 93px;
}
.subscription{
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscription-form{
  display: flex;
  /* flex-direction: column; */
}
.subscription-input{
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription-input::placeholder{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:focus{
 color: var(--primary-white-color);
}
.subscription-button{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;


  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
}
/* Партфолио */

.main-button{
  display: inline-block;
  font-family: Roboto;    
  background: #F5F4FA;

  padding: 6px 22px;
  border-radius: 4px;    
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  cursor: pointer;
  transition: var(--bezier-time);    
}

.main-button:hover,
.main-button:focus{
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);

}
.main-btn{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.button-list:not(:last-child){
  margin-right: 8px;
}
.main-title-list{
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--text-primary);


}
.main-title-text{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.main-container{

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-image{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  
}
.main-image:nth-child(3n){
  margin-right: 0;
}
.main-image:nth-last-child(-n+3){
 margin-bottom: 0; 
}
.card-text-list:hover,
.card-text-list:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  

}
.card-text{
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;

}
.card-text-list{
  display: block;
  width: 370px;
  transition: var(--bezier-time);
  text-decoration: none;
}
.overlay{
  position: relative;
  overflow: hidden;
  display: flex;
}
.overlay-text{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  transform: translateY(101%); 
  transition: transform  var(--bezier-time);
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}
.overlay-text:hover, 
.overlay-text:focus{
  transform: translateY(0);
}
.card-text-list:hover .overlay-text,
.card-text-list:focus .overlay-text {
  transform: translateY(0);
  overflow: visible;

}
